<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/c02ff0ba-9cb5-4c30-95eb-467fed7857ee/resourcegroups/INT422/providers/Microsoft.Web/sites/wa20017a8</ResourceId>
    <ResourceGroup>INT422</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://wa20017a8.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>wa20017a8.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>wa20017a8</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$wa20017a8</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DataContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:rde-oliveira-leal-ds2017a7.database.windows.net,1433;Initial Catalog=Assign8Store;Persist Security Info=True;User ID=rde-oliveira-leal;Password=Password123!;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="Assignment_8.Models.ApplicationDbContext, Web app project template v2" MigrationConfiguration="Assignment_8.Migrations.Configuration, Web app project template v2" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DataContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:rde-oliveira-leal-ds2017a7.database.windows.net,1433;Initial Catalog=Assign8Store;Persist Security Info=True;User ID=rde-oliveira-leal;Password=Password123!;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>