/*#_page-media > div:nth-child(2n+1) > div:first-child p:first-child, 
#_page-medias-et-evenements > div:nth-child(2n+1) > div:first-child p:first-child {

	padding-top: 2em;
	padding-bottom: 1em;
	font-weight: 400;
	background-color: red;
	
}
*/