@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 1</h1>
    <p class="lead">A ‘web app’ is a program that runs on a web server. Responses from a web app are typically (composed as) HTML. However, other internet media types can be in a request or response (image, CSS, JavaScript, etc.).</p>
    <p><a href=" https://scs.senecac.on.ca/~wei.song/int422/assignments/INT422-Assignment1.html" target="_blank" class="btn btn-primary btn-lg">Lecture/Assignment 1</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p> web application or web app is a client–server computer program in which the client (including the user interface and client-side logic) runs in a web browser.</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Web_application">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>How To...</h2>
        <p>A ‘web browser’ is typically used to access the web app where a user is able to access a aplication whereever it is hosted.</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Web_application">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Functionality</h2>
        <p>Common web applications include webmail, online retail sales, online auctions, wikis, instant messaging services and many other functions.</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Web_application">Learn more &raquo;</a></p>
    </div>
</div>