/*----------------*/
.carousel-indicators .active{
	width: 20px;
	height: 20px;
	background-color: darkgray;
	margin: 1px;
}

.carousel-indicators li {
	width: 20px;
	height: 20px;
	-webkit-transform: skew(-20deg);
	   -moz-transform: skew(-20deg);
	     -o-transform: skew(-20deg);
	background-color: lightgrey;
	border-radius: 0px
}

.carousel-indicators{
	/*top:580px;
	left: 980px;*/
}

/*Right alignment of sub menus*/
.rightMenu {
  left: 150px;
  top: 0.5px;
  border-radius: 0
}
.fa-caret-right {
    float: right;
}

#mainCarouselContainer{
	margin-bottom:3%;
	@media screen and (max-width: 1128px) {
		margin-bottom:4%;
	}

	@media screen and (max-width: 884px) {
		margin-bottom:5%;
	}

	@media screen and (max-width: 670px) {
		margin-bottom:7%;
	}

	@media screen and (max-width: 500px) {
		margin-bottom:8%;
	}

	@media screen and (max-width: 426px) {
		margin-bottom:11%;
	}
}

.carousel-caption{
    bottom: 20%;
    left: 1%;
    width: 98%;
}

.carousel-control{
	width: 120px;
}

.cst-slideshow-content{
	h1{
		font-size: 30px;	

		@media (max-width: 992px){
	    	font-size: 25px;
		}

		@media (max-width: 768px){
	    	font-size: 20px;
	    	letter-spacing: 5px;
		}

		@media (max-width: 550px){
	    	font-size: 15px;
	    	letter-spacing: 4px;    	
		}

		@media (max-width: 360px){
	    	font-size: 11px;
	    	letter-spacing: 2px;    	
		}		

		letter-spacing: 8px;
		font-weight: 200px;
		color: rgb(255, 255, 255);
		font-style: italic;
		font-weight: 800;
		text-transform: uppercase;
		line-height: 1.238;
		text-shadow: 0px 2px 2px rgba(20, 74, 78, 0.16);
		/*-moz-transform: matrix( 1.32002443200567,0,0,1.32002443200567,0,0);*/
		/*-webkit-transform: matrix( 1.32002443200567,0,0,1.32002443200567,0,0);*/
		-ms-transform: matrix( 1.32002443200567,0,0,1.32002443200567,0,0);
		z-index: 62;
		margin: 0;
	}
}

.cst-carousel-btn {
    width: 220px;
    height: 56px;
    border-width: 7px;
    border-color: white;

    @media (max-width: 768px){
    	img {width: 150px;
	    height: 40px;
	    border-width: 4px;
	    border-color: white;}
	}	

    @media (max-width: 480px){
    	img {width: 120px;
	    height: 30px;
	    border-width: 3px;
	    border-color: white;}
	}

	@media (max-width: 320px){
    	img {width: 100px;
	    height: 22px;
	    border-width: 3px;
	    border-color: white;}
	}		


}

.cst-carousel-btn > span {
	font-size: 20px;
    letter-spacing: 5px;
    font-weight: bolder;
    color: white;
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
}

#carousel-items .item img{
	object-fit: cover;
}
