table {
	margin: 0 0 1.5em;
	width: 100%;
}

#tablepress-3{
	font-size: 19px;
	font-weight: 500;
	color: black;
	border: 0;
	tr, td{
		border: 0;
	}
}

#tablepress-4{
	font-size: 19px;
	font-weight: 500;
	color: black;
	border: 0;
	tr, td{
		border: 0;
	}
}